@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: '微軟正黑體';
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body,
.banner-wrap {
  min-width: 1200px;
}

body {
  background: #F0ECE1;
}

body,
#main {
  overflow-x: auto;
  overflow-y: hidden;
}

.banner-wrap {
  position: fixed;
  width: 100%;
  height: 60px;
  background: #DAD4C8;
  z-index: 100;
}

.banner-wrap .banner {
  margin: 0 auto;
  width: 1200px;
  height: 60px;
  line-height: 60px;
}

.main-wrap,
.main-grid {
  width: 100vw;
  min-width: 1200px;
  height: 100vh;
  overflow-x: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-wrap {
  position: relative;
}

.main-wrap .main-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  padding-top: 60px;
}

.main-wrap .main-grid .list-wrap {
  overflow-x: hidden;
  overflow-y: auto;
}

.main-wrap .main-grid .list-wrap .list-item {
  height: 150px;
  opacity: 0.4;
  cursor: pointer;
}

.main-wrap .main-grid .list-wrap .list-item .list-monster {
  float: right;
  padding: 120px 0 0 10px;
  width: 200px;
  height: 150px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
}

.main-wrap .main-grid .list-wrap .list-item:hover, .main-wrap .main-grid .list-wrap .list-item.active {
  opacity: 1;
}

.main-wrap .main-grid .list-wrap .list-item1 {
  background: #D35931;
}

.main-wrap .main-grid .list-wrap .list-item1 .list-monster {
  color: #D35931;
  background-image: url("../image/monsterList/1.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #D2A48D;
          box-shadow: inset 100px 0 50px 0 #D2A48D;
}

.main-wrap .main-grid .list-wrap .list-item2 {
  background: #525990;
}

.main-wrap .main-grid .list-wrap .list-item2 .list-monster {
  color: #525990;
  background-image: url("../image/monsterList/2.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #BFCAD8;
          box-shadow: inset 100px 0 50px 0 #BFCAD8;
}

.main-wrap .main-grid .list-wrap .list-item3 {
  background: #DDAC58;
}

.main-wrap .main-grid .list-wrap .list-item3 .list-monster {
  color: #DDAC58;
  background-image: url("../image/monsterList/3.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #E7CBB0;
          box-shadow: inset 100px 0 50px 0 #E7CBB0;
}

.main-wrap .main-grid .list-wrap .list-item4 {
  background: #7F41F3;
}

.main-wrap .main-grid .list-wrap .list-item4 .list-monster {
  color: #7F41F3;
  background-image: url("../image/monsterList/4.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #D5ABEC;
          box-shadow: inset 100px 0 50px 0 #D5ABEC;
}

.main-wrap .main-grid .list-wrap .list-item5 {
  background: #7F8AA3;
}

.main-wrap .main-grid .list-wrap .list-item5 .list-monster {
  color: #7F8AA3;
  background-image: url("../image/monsterList/5.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #E6E0C0;
          box-shadow: inset 100px 0 50px 0 #E6E0C0;
}

.main-wrap .main-grid .list-wrap .list-item6 {
  background: #202440;
}

.main-wrap .main-grid .list-wrap .list-item6 .list-monster {
  color: #202440;
  background-image: url("../image/monsterList/6.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #898BA4;
          box-shadow: inset 100px 0 50px 0 #898BA4;
}

.main-wrap .main-grid .list-wrap .list-item7 {
  background: #CB5232;
}

.main-wrap .main-grid .list-wrap .list-item7 .list-monster {
  color: #CB5232;
  background-image: url("../image/monsterList/7.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #CC826D;
          box-shadow: inset 100px 0 50px 0 #CC826D;
}

.main-wrap .main-grid .list-wrap .list-item8 {
  background: #3C3941;
}

.main-wrap .main-grid .list-wrap .list-item8 .list-monster {
  color: #3C3941;
  background-image: url("../image/monsterList/8.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #C0B396;
          box-shadow: inset 100px 0 50px 0 #C0B396;
}

.main-wrap .main-grid .list-wrap .list-item9 {
  background: #CA9E47;
}

.main-wrap .main-grid .list-wrap .list-item9 .list-monster {
  color: #CA9E47;
  background-image: url("../image/monsterList/9.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #D7B980;
          box-shadow: inset 100px 0 50px 0 #D7B980;
}

.main-wrap .main-grid .list-wrap .list-item10 {
  background: #85532F;
}

.main-wrap .main-grid .list-wrap .list-item10 .list-monster {
  color: #85532F;
  background-image: url("../image/monsterList/10.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #D4BD9C;
          box-shadow: inset 100px 0 50px 0 #D4BD9C;
}

.main-wrap .main-grid .list-wrap .list-item11 {
  background: #C9ABA0;
}

.main-wrap .main-grid .list-wrap .list-item11 .list-monster {
  color: #C9ABA0;
  background-image: url("../image/monsterList/11.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #D6C9BB;
          box-shadow: inset 100px 0 50px 0 #D6C9BB;
}

.main-wrap .main-grid .list-wrap .list-item12 {
  background: #AB8523;
}

.main-wrap .main-grid .list-wrap .list-item12 .list-monster {
  color: #AB8523;
  background-image: url("../image/monsterList/12.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #CDC399;
          box-shadow: inset 100px 0 50px 0 #CDC399;
}

.main-wrap .main-grid .list-wrap .list-item13 {
  background: #3D5060;
}

.main-wrap .main-grid .list-wrap .list-item13 .list-monster {
  color: #3D5060;
  background-image: url("../image/monsterList/13.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #639E94;
          box-shadow: inset 100px 0 50px 0 #639E94;
}

.main-wrap .main-grid .list-wrap .list-item14 {
  background: #71977D;
}

.main-wrap .main-grid .list-wrap .list-item14 .list-monster {
  color: #71977D;
  background-image: url("../image/monsterList/14.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #71BAA0;
          box-shadow: inset 100px 0 50px 0 #71BAA0;
}

.main-wrap .main-grid .list-wrap .list-item15 {
  background: #32344D;
}

.main-wrap .main-grid .list-wrap .list-item15 .list-monster {
  color: #32344D;
  background-image: url("../image/monsterList/15.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #B6a598;
          box-shadow: inset 100px 0 50px 0 #B6a598;
}

.main-wrap .main-grid .list-wrap .list-item16 {
  background: #667E4E;
}

.main-wrap .main-grid .list-wrap .list-item16 .list-monster {
  color: #667E4E;
  background-image: url("../image/monsterList/16.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #B0B4A4;
          box-shadow: inset 100px 0 50px 0 #B0B4A4;
}

.main-wrap .main-grid .list-wrap .list-item17 {
  background: #9C81B1;
}

.main-wrap .main-grid .list-wrap .list-item17 .list-monster {
  color: #9C81B1;
  background-image: url("../image/monsterList/17.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #C9BBD4;
          box-shadow: inset 100px 0 50px 0 #C9BBD4;
}

.main-wrap .main-grid .list-wrap .list-item18 {
  background: #605744;
}

.main-wrap .main-grid .list-wrap .list-item18 .list-monster {
  color: #605744;
  background-image: url("../image/monsterList/18.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #BFC3AB;
          box-shadow: inset 100px 0 50px 0 #BFC3AB;
}

.main-wrap .main-grid .list-wrap .list-item19 {
  background: #D1CDB4;
}

.main-wrap .main-grid .list-wrap .list-item19 .list-monster {
  color: #D1CDB4;
  background-image: url("../image/monsterList/19.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #EFECE2;
          box-shadow: inset 100px 0 50px 0 #EFECE2;
}

.main-wrap .main-grid .list-wrap .list-item20 {
  background: #B9D2C5;
}

.main-wrap .main-grid .list-wrap .list-item20 .list-monster {
  color: #B9D2C5;
  background-image: url("../image/monsterList/20.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #DDDFDE;
          box-shadow: inset 100px 0 50px 0 #DDDFDE;
}

.main-wrap .main-grid .list-wrap .list-item21 {
  background: #242440;
}

.main-wrap .main-grid .list-wrap .list-item21 .list-monster {
  color: #242440;
  background-image: url("../image/monsterList/21.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #939297;
          box-shadow: inset 100px 0 50px 0 #939297;
}

.main-wrap .main-grid .list-wrap .list-item22 {
  background: #DD6660;
}

.main-wrap .main-grid .list-wrap .list-item22 .list-monster {
  color: #DD6660;
  background-image: url("../image/monsterList/22.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #D69E99;
          box-shadow: inset 100px 0 50px 0 #D69E99;
}

.main-wrap .main-grid .list-wrap .list-item23 {
  background: #425563;
}

.main-wrap .main-grid .list-wrap .list-item23 .list-monster {
  color: #425563;
  background-image: url("../image/monsterList/23.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #939E9F;
          box-shadow: inset 100px 0 50px 0 #939E9F;
}

.main-wrap .main-grid .list-wrap .list-item24 {
  background: #472E60;
}

.main-wrap .main-grid .list-wrap .list-item24 .list-monster {
  color: #472E60;
  background-image: url("../image/monsterList/24.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #BD86A6;
          box-shadow: inset 100px 0 50px 0 #BD86A6;
}

.main-wrap .main-grid .list-wrap .list-item25 {
  background: #212237;
}

.main-wrap .main-grid .list-wrap .list-item25 .list-monster {
  color: #212237;
  background-image: url("../image/monsterList/25.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #A0B4AB;
          box-shadow: inset 100px 0 50px 0 #A0B4AB;
}

.main-wrap .main-grid .list-wrap .list-item26 {
  background: #AE5E47;
}

.main-wrap .main-grid .list-wrap .list-item26 .list-monster {
  color: #AE5E47;
  background-image: url("../image/monsterList/26.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #CC9F92;
          box-shadow: inset 100px 0 50px 0 #CC9F92;
}

.main-wrap .main-grid .list-wrap .list-item27 {
  background: #6A4E3C;
}

.main-wrap .main-grid .list-wrap .list-item27 .list-monster {
  color: #6A4E3C;
  background-image: url("../image/monsterList/27.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #A8A2A2;
          box-shadow: inset 100px 0 50px 0 #A8A2A2;
}

.main-wrap .main-grid .list-wrap .list-item28 {
  background: #27A398;
}

.main-wrap .main-grid .list-wrap .list-item28 .list-monster {
  color: #27A398;
  background-image: url("../image/monsterList/28.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #D6F2E3;
          box-shadow: inset 100px 0 50px 0 #D6F2E3;
}

.main-wrap .main-grid .list-wrap .list-item29 {
  background: #BD8D46;
}

.main-wrap .main-grid .list-wrap .list-item29 .list-monster {
  color: #BD8D46;
  background-image: url("../image/monsterList/29.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #D8D29D;
          box-shadow: inset 100px 0 50px 0 #D8D29D;
}

.main-wrap .main-grid .list-wrap .list-item30 {
  background: #C79957;
}

.main-wrap .main-grid .list-wrap .list-item30 .list-monster {
  color: #C79957;
  background-image: url("../image/monsterList/30.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #D7B788;
          box-shadow: inset 100px 0 50px 0 #D7B788;
}

.main-wrap .main-grid .list-wrap .list-item31 {
  background: #211D25;
}

.main-wrap .main-grid .list-wrap .list-item31 .list-monster {
  color: #211D25;
  background-image: url("../image/monsterList/31.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #C3BDB0;
          box-shadow: inset 100px 0 50px 0 #C3BDB0;
}

.main-wrap .main-grid .list-wrap .list-item32 {
  background: #4A4339;
}

.main-wrap .main-grid .list-wrap .list-item32 .list-monster {
  color: #4A4339;
  background-image: url("../image/monsterList/32.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #87676C;
          box-shadow: inset 100px 0 50px 0 #87676C;
}

.main-wrap .main-grid .list-wrap .list-item33 {
  background: #3C385B;
}

.main-wrap .main-grid .list-wrap .list-item33 .list-monster {
  color: #3C385B;
  background-image: url("../image/monsterList/33.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #A5B0BA;
          box-shadow: inset 100px 0 50px 0 #A5B0BA;
}

.main-wrap .main-grid .list-wrap .list-item34 {
  background: #A48869;
}

.main-wrap .main-grid .list-wrap .list-item34 .list-monster {
  color: #A48869;
  background-image: url("../image/monsterList/34.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #C7B884;
          box-shadow: inset 100px 0 50px 0 #C7B884;
}

.main-wrap .main-grid .list-wrap .list-item35 {
  background: #262841;
}

.main-wrap .main-grid .list-wrap .list-item35 .list-monster {
  color: #262841;
  background-image: url("../image/monsterList/35.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #7D7B86;
          box-shadow: inset 100px 0 50px 0 #7D7B86;
}

.main-wrap .main-grid .list-wrap .list-item36 {
  background: #A487B5;
}

.main-wrap .main-grid .list-wrap .list-item36 .list-monster {
  color: #A487B5;
  background-image: url("../image/monsterList/36.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #CA8DC6;
          box-shadow: inset 100px 0 50px 0 #CA8DC6;
}

.main-wrap .main-grid .list-wrap .list-item37 {
  background: #B06369;
}

.main-wrap .main-grid .list-wrap .list-item37 .list-monster {
  color: #B06369;
  background-image: url("../image/monsterList/37.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #E0A6A2;
          box-shadow: inset 100px 0 50px 0 #E0A6A2;
}

.main-wrap .main-grid .list-wrap .list-item38 {
  background: #1F233E;
}

.main-wrap .main-grid .list-wrap .list-item38 .list-monster {
  color: #1F233E;
  background-image: url("../image/monsterList/38.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #E35549;
          box-shadow: inset 100px 0 50px 0 #E35549;
}

.main-wrap .main-grid .list-wrap .list-item39 {
  background: #D2B154;
}

.main-wrap .main-grid .list-wrap .list-item39 .list-monster {
  color: #D2B154;
  background-image: url("../image/monsterList/39.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #9085D3;
          box-shadow: inset 100px 0 50px 0 #9085D3;
}

.main-wrap .main-grid .list-wrap .list-item40 {
  background: #D53326;
}

.main-wrap .main-grid .list-wrap .list-item40 .list-monster {
  color: #D53326;
  background-image: url("../image/monsterList/40.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #E29581;
          box-shadow: inset 100px 0 50px 0 #E29581;
}

.main-wrap .main-grid .list-wrap .list-item41 {
  background: #4D5055;
}

.main-wrap .main-grid .list-wrap .list-item41 .list-monster {
  color: #4D5055;
  background-image: url("../image/monsterList/41.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #9A978E;
          box-shadow: inset 100px 0 50px 0 #9A978E;
}

.main-wrap .main-grid .list-wrap .list-item42 {
  background: #4A3339;
}

.main-wrap .main-grid .list-wrap .list-item42 .list-monster {
  color: #4A3339;
  background-image: url("../image/monsterList/42.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #931B91;
          box-shadow: inset 100px 0 50px 0 #931B91;
}

.main-wrap .main-grid .list-wrap .list-item43 {
  background: #1F1E40;
}

.main-wrap .main-grid .list-wrap .list-item43 .list-monster {
  color: #1F1E40;
  background-image: url("../image/monsterList/43.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #AB4447;
          box-shadow: inset 100px 0 50px 0 #AB4447;
}

.main-wrap .main-grid .list-wrap .list-item44 {
  background: #653F3C;
}

.main-wrap .main-grid .list-wrap .list-item44 .list-monster {
  color: #653F3C;
  background-image: url("../image/monsterList/44.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #C2AC9F;
          box-shadow: inset 100px 0 50px 0 #C2AC9F;
}

.main-wrap .main-grid .list-wrap .list-item45 {
  background: #4B361B;
}

.main-wrap .main-grid .list-wrap .list-item45 .list-monster {
  color: #4B361B;
  background-image: url("../image/monsterList/45.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #857E6E;
          box-shadow: inset 100px 0 50px 0 #857E6E;
}

.main-wrap .main-grid .list-wrap .list-item46 {
  background: #244F33;
}

.main-wrap .main-grid .list-wrap .list-item46 .list-monster {
  color: #244F33;
  background-image: url("../image/monsterList/46.jpg");
  -webkit-box-shadow: inset 100px 0 50px 0 #C1A95F;
          box-shadow: inset 100px 0 50px 0 #C1A95F;
}

.main-wrap .main-grid .detail-wrap {
  padding: 60px 100px 20px 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-wrap .main-grid .detail-wrap .title {
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 12px;
  font-size: 60px;
  border-bottom: 5px solid transparent;
}

.main-wrap .main-grid .detail-wrap .detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  grid-gap: 20px;
}

.main-wrap .main-grid .detail-wrap .detail .detail-left > div {
  font-size: 24px;
  line-height: 48px;
  border-bottom: 3px solid #A49A8E;
}

.main-wrap .main-grid .detail-wrap .detail .detail-left > div span {
  float: right;
  text-align: right;
}

.main-wrap .main-grid .detail-wrap .detail .detail-right .monster-weakness {
  font-size: 24px;
  line-height: 48px;
  border-bottom: 3px solid #A49A8E;
}

.main-wrap .main-grid .detail-wrap .detail .detail-right .monster-weakness:nth-last-child(1) {
  border: none;
}

.main-wrap .main-grid .detail-wrap .detail .detail-right .monster-weakness span {
  float: right;
  text-align: right;
}

.main-wrap .main-grid .detail-wrap .detail .detail-right table,
.main-wrap .main-grid .detail-wrap .detail .detail-right th,
.main-wrap .main-grid .detail-wrap .detail .detail-right td {
  border-bottom: 3px solid #A49A8E;
}

.main-wrap .main-grid .detail-wrap .detail .detail-right table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.main-wrap .main-grid .detail-wrap .detail .detail-right table th:nth-child(1) {
  width: 150px;
}

.main-wrap .main-grid .detail-wrap .detail .detail-right table th,
.main-wrap .main-grid .detail-wrap .detail .detail-right table td {
  padding: 5px 0;
  font-size: 24px;
  line-height: 30px;
}

.main-wrap .main-grid .detail-wrap .detail .fas {
  text-shadow: 0 0 3px #000;
  color: #EEE57C;
}

.main-wrap .main-grid .detail-wrap1 .title {
  -o-border-image: linear-gradient(to right, #D35931, #D2A48D);
     border-image: -webkit-gradient(linear, left top, right top, from(#D35931), to(#D2A48D));
     border-image: linear-gradient(to right, #D35931, #D2A48D);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap2 .title {
  -o-border-image: linear-gradient(to right, #525990, #BFCAD8);
     border-image: -webkit-gradient(linear, left top, right top, from(#525990), to(#BFCAD8));
     border-image: linear-gradient(to right, #525990, #BFCAD8);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap3 .title {
  -o-border-image: linear-gradient(to right, #DDAC58, #E7CBB0);
     border-image: -webkit-gradient(linear, left top, right top, from(#DDAC58), to(#E7CBB0));
     border-image: linear-gradient(to right, #DDAC58, #E7CBB0);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap4 .title {
  -o-border-image: linear-gradient(to right, #7F41F3, #D5ABEC);
     border-image: -webkit-gradient(linear, left top, right top, from(#7F41F3), to(#D5ABEC));
     border-image: linear-gradient(to right, #7F41F3, #D5ABEC);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap5 .title {
  -o-border-image: linear-gradient(to right, #7F8AA3, #E6E0C0);
     border-image: -webkit-gradient(linear, left top, right top, from(#7F8AA3), to(#E6E0C0));
     border-image: linear-gradient(to right, #7F8AA3, #E6E0C0);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap6 .title {
  -o-border-image: linear-gradient(to right, #202440, #898BA4);
     border-image: -webkit-gradient(linear, left top, right top, from(#202440), to(#898BA4));
     border-image: linear-gradient(to right, #202440, #898BA4);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap7 .title {
  -o-border-image: linear-gradient(to right, #CB5232, #CC826D);
     border-image: -webkit-gradient(linear, left top, right top, from(#CB5232), to(#CC826D));
     border-image: linear-gradient(to right, #CB5232, #CC826D);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap8 .title {
  -o-border-image: linear-gradient(to right, #3C3941, #C0B396);
     border-image: -webkit-gradient(linear, left top, right top, from(#3C3941), to(#C0B396));
     border-image: linear-gradient(to right, #3C3941, #C0B396);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap9 .title {
  -o-border-image: linear-gradient(to right, #CA9E47, #D7B980);
     border-image: -webkit-gradient(linear, left top, right top, from(#CA9E47), to(#D7B980));
     border-image: linear-gradient(to right, #CA9E47, #D7B980);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap10 .title {
  -o-border-image: linear-gradient(to right, #85532F, #D4BD9C);
     border-image: -webkit-gradient(linear, left top, right top, from(#85532F), to(#D4BD9C));
     border-image: linear-gradient(to right, #85532F, #D4BD9C);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap11 .title {
  -o-border-image: linear-gradient(to right, #C9ABA0, #D6C9BB);
     border-image: -webkit-gradient(linear, left top, right top, from(#C9ABA0), to(#D6C9BB));
     border-image: linear-gradient(to right, #C9ABA0, #D6C9BB);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap12 .title {
  -o-border-image: linear-gradient(to right, #AB8523, #CDC399);
     border-image: -webkit-gradient(linear, left top, right top, from(#AB8523), to(#CDC399));
     border-image: linear-gradient(to right, #AB8523, #CDC399);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap13 .title {
  -o-border-image: linear-gradient(to right, #3D5060, #639E94);
     border-image: -webkit-gradient(linear, left top, right top, from(#3D5060), to(#639E94));
     border-image: linear-gradient(to right, #3D5060, #639E94);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap14 .title {
  -o-border-image: linear-gradient(to right, #71977D, #71BAA0);
     border-image: -webkit-gradient(linear, left top, right top, from(#71977D), to(#71BAA0));
     border-image: linear-gradient(to right, #71977D, #71BAA0);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap15 .title {
  -o-border-image: linear-gradient(to right, #32344D, #B6a598);
     border-image: -webkit-gradient(linear, left top, right top, from(#32344D), to(#B6a598));
     border-image: linear-gradient(to right, #32344D, #B6a598);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap16 .title {
  -o-border-image: linear-gradient(to right, #667E4E, #B0B4A4);
     border-image: -webkit-gradient(linear, left top, right top, from(#667E4E), to(#B0B4A4));
     border-image: linear-gradient(to right, #667E4E, #B0B4A4);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap17 .title {
  -o-border-image: linear-gradient(to right, #9C81B1, #C9BBD4);
     border-image: -webkit-gradient(linear, left top, right top, from(#9C81B1), to(#C9BBD4));
     border-image: linear-gradient(to right, #9C81B1, #C9BBD4);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap18 .title {
  -o-border-image: linear-gradient(to right, #605744, #BFC3AB);
     border-image: -webkit-gradient(linear, left top, right top, from(#605744), to(#BFC3AB));
     border-image: linear-gradient(to right, #605744, #BFC3AB);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap19 .title {
  -o-border-image: linear-gradient(to right, #D1CDB4, #EFECE2);
     border-image: -webkit-gradient(linear, left top, right top, from(#D1CDB4), to(#EFECE2));
     border-image: linear-gradient(to right, #D1CDB4, #EFECE2);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap20 .title {
  -o-border-image: linear-gradient(to right, #B9D2C5, #DDDFDE);
     border-image: -webkit-gradient(linear, left top, right top, from(#B9D2C5), to(#DDDFDE));
     border-image: linear-gradient(to right, #B9D2C5, #DDDFDE);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap21 .title {
  -o-border-image: linear-gradient(to right, #242440, #939297);
     border-image: -webkit-gradient(linear, left top, right top, from(#242440), to(#939297));
     border-image: linear-gradient(to right, #242440, #939297);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap22 .title {
  -o-border-image: linear-gradient(to right, #DD6660, #D69E99);
     border-image: -webkit-gradient(linear, left top, right top, from(#DD6660), to(#D69E99));
     border-image: linear-gradient(to right, #DD6660, #D69E99);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap23 .title {
  -o-border-image: linear-gradient(to right, #425563, #939E9F);
     border-image: -webkit-gradient(linear, left top, right top, from(#425563), to(#939E9F));
     border-image: linear-gradient(to right, #425563, #939E9F);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap24 .title {
  -o-border-image: linear-gradient(to right, #472E60, #BD86A6);
     border-image: -webkit-gradient(linear, left top, right top, from(#472E60), to(#BD86A6));
     border-image: linear-gradient(to right, #472E60, #BD86A6);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap25 .title {
  -o-border-image: linear-gradient(to right, #212237, #A0B4AB);
     border-image: -webkit-gradient(linear, left top, right top, from(#212237), to(#A0B4AB));
     border-image: linear-gradient(to right, #212237, #A0B4AB);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap26 .title {
  -o-border-image: linear-gradient(to right, #AE5E47, #CC9F92);
     border-image: -webkit-gradient(linear, left top, right top, from(#AE5E47), to(#CC9F92));
     border-image: linear-gradient(to right, #AE5E47, #CC9F92);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap27 .title {
  -o-border-image: linear-gradient(to right, #6A4E3C, #A8A2A2);
     border-image: -webkit-gradient(linear, left top, right top, from(#6A4E3C), to(#A8A2A2));
     border-image: linear-gradient(to right, #6A4E3C, #A8A2A2);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap28 .title {
  -o-border-image: linear-gradient(to right, #27A398, #D6F2E3);
     border-image: -webkit-gradient(linear, left top, right top, from(#27A398), to(#D6F2E3));
     border-image: linear-gradient(to right, #27A398, #D6F2E3);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap29 .title {
  -o-border-image: linear-gradient(to right, #BD8D46, #D8D29D);
     border-image: -webkit-gradient(linear, left top, right top, from(#BD8D46), to(#D8D29D));
     border-image: linear-gradient(to right, #BD8D46, #D8D29D);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap30 .title {
  -o-border-image: linear-gradient(to right, #C79957, #D7B788);
     border-image: -webkit-gradient(linear, left top, right top, from(#C79957), to(#D7B788));
     border-image: linear-gradient(to right, #C79957, #D7B788);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap31 .title {
  -o-border-image: linear-gradient(to right, #211D25, #C3BDB0);
     border-image: -webkit-gradient(linear, left top, right top, from(#211D25), to(#C3BDB0));
     border-image: linear-gradient(to right, #211D25, #C3BDB0);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap32 .title {
  -o-border-image: linear-gradient(to right, #4A4339, #87676C);
     border-image: -webkit-gradient(linear, left top, right top, from(#4A4339), to(#87676C));
     border-image: linear-gradient(to right, #4A4339, #87676C);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap33 .title {
  -o-border-image: linear-gradient(to right, #3C385B, #A5B0BA);
     border-image: -webkit-gradient(linear, left top, right top, from(#3C385B), to(#A5B0BA));
     border-image: linear-gradient(to right, #3C385B, #A5B0BA);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap34 .title {
  -o-border-image: linear-gradient(to right, #A48869, #C7B884);
     border-image: -webkit-gradient(linear, left top, right top, from(#A48869), to(#C7B884));
     border-image: linear-gradient(to right, #A48869, #C7B884);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap35 .title {
  -o-border-image: linear-gradient(to right, #262841, #7D7B86);
     border-image: -webkit-gradient(linear, left top, right top, from(#262841), to(#7D7B86));
     border-image: linear-gradient(to right, #262841, #7D7B86);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap36 .title {
  -o-border-image: linear-gradient(to right, #A487B5, #CA8DC6);
     border-image: -webkit-gradient(linear, left top, right top, from(#A487B5), to(#CA8DC6));
     border-image: linear-gradient(to right, #A487B5, #CA8DC6);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap37 .title {
  -o-border-image: linear-gradient(to right, #B06369, #E0A6A2);
     border-image: -webkit-gradient(linear, left top, right top, from(#B06369), to(#E0A6A2));
     border-image: linear-gradient(to right, #B06369, #E0A6A2);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap38 .title {
  -o-border-image: linear-gradient(to right, #1F233E, #E35549);
     border-image: -webkit-gradient(linear, left top, right top, from(#1F233E), to(#E35549));
     border-image: linear-gradient(to right, #1F233E, #E35549);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap39 .title {
  -o-border-image: linear-gradient(to right, #D2B154, #9085D3);
     border-image: -webkit-gradient(linear, left top, right top, from(#D2B154), to(#9085D3));
     border-image: linear-gradient(to right, #D2B154, #9085D3);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap40 .title {
  -o-border-image: linear-gradient(to right, #D53326, #E29581);
     border-image: -webkit-gradient(linear, left top, right top, from(#D53326), to(#E29581));
     border-image: linear-gradient(to right, #D53326, #E29581);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap41 .title {
  -o-border-image: linear-gradient(to right, #4D5055, #9A978E);
     border-image: -webkit-gradient(linear, left top, right top, from(#4D5055), to(#9A978E));
     border-image: linear-gradient(to right, #4D5055, #9A978E);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap42 .title {
  -o-border-image: linear-gradient(to right, #4A3339, #931B91);
     border-image: -webkit-gradient(linear, left top, right top, from(#4A3339), to(#931B91));
     border-image: linear-gradient(to right, #4A3339, #931B91);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap43 .title {
  -o-border-image: linear-gradient(to right, #1F1E40, #AB4447);
     border-image: -webkit-gradient(linear, left top, right top, from(#1F1E40), to(#AB4447));
     border-image: linear-gradient(to right, #1F1E40, #AB4447);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap44 .title {
  -o-border-image: linear-gradient(to right, #653F3C, #C2AC9F);
     border-image: -webkit-gradient(linear, left top, right top, from(#653F3C), to(#C2AC9F));
     border-image: linear-gradient(to right, #653F3C, #C2AC9F);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap45 .title {
  -o-border-image: linear-gradient(to right, #4B361B, #857E6E);
     border-image: -webkit-gradient(linear, left top, right top, from(#4B361B), to(#857E6E));
     border-image: linear-gradient(to right, #4B361B, #857E6E);
  border-image-slice: 1;
}

.main-wrap .main-grid .detail-wrap46 .title {
  -o-border-image: linear-gradient(to right, #244F33, #C1A95F);
     border-image: -webkit-gradient(linear, left top, right top, from(#244F33), to(#C1A95F));
     border-image: linear-gradient(to right, #244F33, #C1A95F);
  border-image-slice: 1;
}

.main-wrap .select-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px auto 60px;
      grid-template-rows: 60px auto 60px;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 60px;
  width: 60px;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #E6D4C8;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-box-shadow: -10px 0 10px 1px #B09B7F;
          box-shadow: -10px 0 10px 1px #B09B7F;
}

.main-wrap .select-wrap i {
  line-height: 60px;
  text-align: center;
  font-size: 36px;
  color: #B09B7F;
  cursor: pointer;
}

.main-wrap .select-wrap i.fa-chevron-up {
  -webkit-box-shadow: inset 0 -15px 15px -15px #B09B7F;
          box-shadow: inset 0 -15px 15px -15px #B09B7F;
}

.main-wrap .select-wrap i.fa-chevron-down {
  -webkit-box-shadow: inset 0 15px 15px -15px #B09B7F;
          box-shadow: inset 0 15px 15px -15px #B09B7F;
}

.main-wrap .select-wrap i:hover {
  background: #B09B7F;
  color: #E6D4C8;
}

.main-wrap .select-wrap .select-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat 2, 1fr;
      grid-template-columns: repeat 2, 1fr;
}

.main-wrap .select-wrap .select-list .select {
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: sideways;
  text-align: center;
  cursor: pointer;
}

.main-wrap .select-wrap .select-list1 .select:hover:not(.selected) {
  color: #D35931;
}

.main-wrap .select-wrap .select-list1 .selected {
  background: #D35931;
  color: #D2A48D;
}

.main-wrap .select-wrap .select-list2 .select:hover:not(.selected) {
  color: #525990;
}

.main-wrap .select-wrap .select-list2 .selected {
  background: #525990;
  color: #BFCAD8;
}

.main-wrap .select-wrap .select-list3 .select:hover:not(.selected) {
  color: #DDAC58;
}

.main-wrap .select-wrap .select-list3 .selected {
  background: #DDAC58;
  color: #E7CBB0;
}

.main-wrap .select-wrap .select-list4 .select:hover:not(.selected) {
  color: #7F41F3;
}

.main-wrap .select-wrap .select-list4 .selected {
  background: #7F41F3;
  color: #D5ABEC;
}

.main-wrap .select-wrap .select-list5 .select:hover:not(.selected) {
  color: #7F8AA3;
}

.main-wrap .select-wrap .select-list5 .selected {
  background: #7F8AA3;
  color: #E6E0C0;
}

.main-wrap .select-wrap .select-list6 .select:hover:not(.selected) {
  color: #202440;
}

.main-wrap .select-wrap .select-list6 .selected {
  background: #202440;
  color: #898BA4;
}

.main-wrap .select-wrap .select-list7 .select:hover:not(.selected) {
  color: #CB5232;
}

.main-wrap .select-wrap .select-list7 .selected {
  background: #CB5232;
  color: #CC826D;
}

.main-wrap .select-wrap .select-list8 .select:hover:not(.selected) {
  color: #3C3941;
}

.main-wrap .select-wrap .select-list8 .selected {
  background: #3C3941;
  color: #C0B396;
}

.main-wrap .select-wrap .select-list9 .select:hover:not(.selected) {
  color: #CA9E47;
}

.main-wrap .select-wrap .select-list9 .selected {
  background: #CA9E47;
  color: #D7B980;
}

.main-wrap .select-wrap .select-list10 .select:hover:not(.selected) {
  color: #85532F;
}

.main-wrap .select-wrap .select-list10 .selected {
  background: #85532F;
  color: #D4BD9C;
}

.main-wrap .select-wrap .select-list11 .select:hover:not(.selected) {
  color: #C9ABA0;
}

.main-wrap .select-wrap .select-list11 .selected {
  background: #C9ABA0;
  color: #D6C9BB;
}

.main-wrap .select-wrap .select-list12 .select:hover:not(.selected) {
  color: #AB8523;
}

.main-wrap .select-wrap .select-list12 .selected {
  background: #AB8523;
  color: #CDC399;
}

.main-wrap .select-wrap .select-list13 .select:hover:not(.selected) {
  color: #3D5060;
}

.main-wrap .select-wrap .select-list13 .selected {
  background: #3D5060;
  color: #639E94;
}

.main-wrap .select-wrap .select-list14 .select:hover:not(.selected) {
  color: #71977D;
}

.main-wrap .select-wrap .select-list14 .selected {
  background: #71977D;
  color: #71BAA0;
}

.main-wrap .select-wrap .select-list15 .select:hover:not(.selected) {
  color: #32344D;
}

.main-wrap .select-wrap .select-list15 .selected {
  background: #32344D;
  color: #B6a598;
}

.main-wrap .select-wrap .select-list16 .select:hover:not(.selected) {
  color: #667E4E;
}

.main-wrap .select-wrap .select-list16 .selected {
  background: #667E4E;
  color: #B0B4A4;
}

.main-wrap .select-wrap .select-list17 .select:hover:not(.selected) {
  color: #9C81B1;
}

.main-wrap .select-wrap .select-list17 .selected {
  background: #9C81B1;
  color: #C9BBD4;
}

.main-wrap .select-wrap .select-list18 .select:hover:not(.selected) {
  color: #605744;
}

.main-wrap .select-wrap .select-list18 .selected {
  background: #605744;
  color: #BFC3AB;
}

.main-wrap .select-wrap .select-list19 .select:hover:not(.selected) {
  color: #D1CDB4;
}

.main-wrap .select-wrap .select-list19 .selected {
  background: #D1CDB4;
  color: #EFECE2;
}

.main-wrap .select-wrap .select-list20 .select:hover:not(.selected) {
  color: #B9D2C5;
}

.main-wrap .select-wrap .select-list20 .selected {
  background: #B9D2C5;
  color: #DDDFDE;
}

.main-wrap .select-wrap .select-list21 .select:hover:not(.selected) {
  color: #242440;
}

.main-wrap .select-wrap .select-list21 .selected {
  background: #242440;
  color: #939297;
}

.main-wrap .select-wrap .select-list22 .select:hover:not(.selected) {
  color: #DD6660;
}

.main-wrap .select-wrap .select-list22 .selected {
  background: #DD6660;
  color: #D69E99;
}

.main-wrap .select-wrap .select-list23 .select:hover:not(.selected) {
  color: #425563;
}

.main-wrap .select-wrap .select-list23 .selected {
  background: #425563;
  color: #939E9F;
}

.main-wrap .select-wrap .select-list24 .select:hover:not(.selected) {
  color: #472E60;
}

.main-wrap .select-wrap .select-list24 .selected {
  background: #472E60;
  color: #BD86A6;
}

.main-wrap .select-wrap .select-list25 .select:hover:not(.selected) {
  color: #212237;
}

.main-wrap .select-wrap .select-list25 .selected {
  background: #212237;
  color: #A0B4AB;
}

.main-wrap .select-wrap .select-list26 .select:hover:not(.selected) {
  color: #AE5E47;
}

.main-wrap .select-wrap .select-list26 .selected {
  background: #AE5E47;
  color: #CC9F92;
}

.main-wrap .select-wrap .select-list27 .select:hover:not(.selected) {
  color: #6A4E3C;
}

.main-wrap .select-wrap .select-list27 .selected {
  background: #6A4E3C;
  color: #A8A2A2;
}

.main-wrap .select-wrap .select-list28 .select:hover:not(.selected) {
  color: #27A398;
}

.main-wrap .select-wrap .select-list28 .selected {
  background: #27A398;
  color: #D6F2E3;
}

.main-wrap .select-wrap .select-list29 .select:hover:not(.selected) {
  color: #BD8D46;
}

.main-wrap .select-wrap .select-list29 .selected {
  background: #BD8D46;
  color: #D8D29D;
}

.main-wrap .select-wrap .select-list30 .select:hover:not(.selected) {
  color: #C79957;
}

.main-wrap .select-wrap .select-list30 .selected {
  background: #C79957;
  color: #D7B788;
}

.main-wrap .select-wrap .select-list31 .select:hover:not(.selected) {
  color: #211D25;
}

.main-wrap .select-wrap .select-list31 .selected {
  background: #211D25;
  color: #C3BDB0;
}

.main-wrap .select-wrap .select-list32 .select:hover:not(.selected) {
  color: #4A4339;
}

.main-wrap .select-wrap .select-list32 .selected {
  background: #4A4339;
  color: #87676C;
}

.main-wrap .select-wrap .select-list33 .select:hover:not(.selected) {
  color: #3C385B;
}

.main-wrap .select-wrap .select-list33 .selected {
  background: #3C385B;
  color: #A5B0BA;
}

.main-wrap .select-wrap .select-list34 .select:hover:not(.selected) {
  color: #A48869;
}

.main-wrap .select-wrap .select-list34 .selected {
  background: #A48869;
  color: #C7B884;
}

.main-wrap .select-wrap .select-list35 .select:hover:not(.selected) {
  color: #262841;
}

.main-wrap .select-wrap .select-list35 .selected {
  background: #262841;
  color: #7D7B86;
}

.main-wrap .select-wrap .select-list36 .select:hover:not(.selected) {
  color: #A487B5;
}

.main-wrap .select-wrap .select-list36 .selected {
  background: #A487B5;
  color: #CA8DC6;
}

.main-wrap .select-wrap .select-list37 .select:hover:not(.selected) {
  color: #B06369;
}

.main-wrap .select-wrap .select-list37 .selected {
  background: #B06369;
  color: #E0A6A2;
}

.main-wrap .select-wrap .select-list38 .select:hover:not(.selected) {
  color: #1F233E;
}

.main-wrap .select-wrap .select-list38 .selected {
  background: #1F233E;
  color: #E35549;
}

.main-wrap .select-wrap .select-list39 .select:hover:not(.selected) {
  color: #D2B154;
}

.main-wrap .select-wrap .select-list39 .selected {
  background: #D2B154;
  color: #9085D3;
}

.main-wrap .select-wrap .select-list40 .select:hover:not(.selected) {
  color: #D53326;
}

.main-wrap .select-wrap .select-list40 .selected {
  background: #D53326;
  color: #E29581;
}

.main-wrap .select-wrap .select-list41 .select:hover:not(.selected) {
  color: #4D5055;
}

.main-wrap .select-wrap .select-list41 .selected {
  background: #4D5055;
  color: #9A978E;
}

.main-wrap .select-wrap .select-list42 .select:hover:not(.selected) {
  color: #4A3339;
}

.main-wrap .select-wrap .select-list42 .selected {
  background: #4A3339;
  color: #931B91;
}

.main-wrap .select-wrap .select-list43 .select:hover:not(.selected) {
  color: #1F1E40;
}

.main-wrap .select-wrap .select-list43 .selected {
  background: #1F1E40;
  color: #AB4447;
}

.main-wrap .select-wrap .select-list44 .select:hover:not(.selected) {
  color: #653F3C;
}

.main-wrap .select-wrap .select-list44 .selected {
  background: #653F3C;
  color: #C2AC9F;
}

.main-wrap .select-wrap .select-list45 .select:hover:not(.selected) {
  color: #4B361B;
}

.main-wrap .select-wrap .select-list45 .selected {
  background: #4B361B;
  color: #857E6E;
}

.main-wrap .select-wrap .select-list46 .select:hover:not(.selected) {
  color: #244F33;
}

.main-wrap .select-wrap .select-list46 .selected {
  background: #244F33;
  color: #C1A95F;
}
/*# sourceMappingURL=style.css.map */